version: "3.1"
services:

    mysql:
      image: mysql:5.6
      container_name: lemp-mysql
      working_dir: /application
      volumes:
        - ./sql-init:/docker-entrypoint-initdb.d
        - ./database_data:/var/lib/mysql
      environment:
        - MYSQL_ROOT_PASSWORD=iamgrootroot
        - MYSQL_DATABASE=lemp_database
        - MYSQL_USER=lemp_username
        - MYSQL_PASSWORD=CorrectHorseBatteryStaple
      ports:
        - "8082:3306"

    webserver:
      image: nginx:alpine
      container_name: lemp-webserver
      working_dir: /application
      volumes:
          - .:/application
          - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      links:
        - mysql
      ports:
       - "8080:80"

    php-fpm:
      build: docker/php
      container_name: lemp-php-fpm
      working_dir: /application
      volumes:
        - .:/application
        - ./phpdocker/php-fpm/php-ini-overrides.ini:/etc/php/7.0/fpm/conf.d/99-overrides.ini
    phpmyadmin:
      image: phpmyadmin/phpmyadmin
      container_name: lemp-phpmyadmin
      links:
        - "mysql:db"
      ports:
        - 8181:80
      environment:
        - PMA_ARBITRARY=1
        - MYSQL_USER=lemp_username
        - MYSQL_PASSWORD=CorrectHorseBatteryStaple
        - MYSQL_ROOT_PASSWORD=iamgrootroot